[Unit]
Description=dump1090 client
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/bin/bash -c 'cd /home/toby/github/dump1090 &&  ./dump1090 --net --net-beast --interactive'
Restart=always
RestartSec=10s
KillMode=process
TimeoutSec=infinity
User=toby

[Install]
WantedBy=multi-user.target