[Unit]
Description=Kibana
After=network-online.target
Wants=network-online.target


[Service]
ExecStart=/bin/bash -c '/usr/share/kibana/bin/kibana'
Restart=always
RestartSec=10s
KillMode=process
TimeoutSec=infinity


[Install]
WantedBy=multi-user.target