[Unit]
Description=Write to IFTTT
After=multi-user.target

[Service]
ExecStart=/bin/bash -c '/usr/bin/python3 /home/pi/github/iot-gibbon/python/microservices/livingRoomToIFTTT.py > /home/pi/livingRoomToIFTTT.log 2>&1'
Restart=always
RestartSec=10s
KillMode=process
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target