[Unit]
Description=Write to IFTTT
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/github/iot-gibbon/python/pi_home.py --width 128 --height 128 --display sh1106 -r 2 

[Install]
WantedBy=multi-user.target